<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Password Page</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <style>
    body {

      background: black;
    }

    .pass {
      color: darkgoldenrod;

    }

    h1 {
      color: darkgoldenrod;
      margin: 10px;
    }
  </style>
</head>

<body>
  <h1 class="font-extrabold text-3xl m-10 text-center">Password Page</h1>

  <form action="/password_compiler" method="POST">
    <label for="password" class="pass ml-96 font-semibold">Password:</label>
    <input type="password" id="password" name="password" class="w-80 p-2 rounded-md ml-5" required>
    <br>
    <button type="submit" class="p-2 rounded-md bg-white ml-96 m-10 font-semibold">Submit</button>
  </form>
</body>

</html>